<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnkotlin.kotlinspring.mapper.ArticleMapper">
    <select id="getArticleByArticleId" resultType="com.learnkotlin.kotlinspring.entity.Article">
        SELECT *
        FROM article
        WHERE `article_id` = #{articleId}
          AND `rid` >= #{role.rid}
    </select>
    <select id="listArticles" resultType="com.learnkotlin.kotlinspring.entity.Article">
        SELECT *
        FROM article
        WHERE `rid` >= #{role.rid}
    </select>
    <select id="listArticleByAuthorId" resultType="com.learnkotlin.kotlinspring.entity.Article">
        SELECT `article_id`, `title`, `content`, `author_id`, `create_at`, `article`.`rid`
        FROM article
                 LEFT JOIN user_role ur ON ur.uid = #{authorId}
        WHERE article.rid >= ur.rid
    </select>
    <update id="setArticleAccessibleRole">
        UPDATE article
        SET rid = #{role.rid}
        WHERE `article_id` = #{articleId}
    </update>
</mapper>
